@font-face 
  font-family: 'RFYR'
  src: url('/fonts/rfyrkay.ttf') format('truetype')
  font-weight: normal
  font-style: normal

body
  font-family: 'RFYR', sans-serif

code
  font-family: 'RFYR', sans-serif